[submodule "mist/mist-modules"]
	path = mist/mist-modules
	url = https://github.com/mist-devel/mist-modules.git
[submodule "EightThirtyTwo"]
	path = EightThirtyTwo
	url = https://github.com/robinsonb5/EightThirtyTwo.git
